<!-- navigation bar -->
<nav aria-label="navigation bar" class="nav-bar">
    <ul>
        <li class="nav-home"><a href="/">Gabriel Fortuny</a></li>
        <li class="nav-links"><a href="/about/index.html">About</a></li>
        <li class="nav-links"><a href="/blog/index.html">Blog</a></li>
        <li class="nav-links"><a href="/projects/index.html">Projects</a></li>
        <li class="nav-links"><a href="/contact/index.html">Contact</a></li>
    </ul>
</nav>

<!-- JavaScript to Load Navbar
<script>
    fetch('components/navbar.html')
        .then((response) => response.text())
        .then((data) => {
            document.getElementById('navbar').innerHTML = data;
        })
        .catch((error) => console.error('Error loading navbar:', error));
</script>
-->
